html,body {
  height: 100%;
}

.hero {
    background-image: url("../public/Banner.png");
    height: 300px;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
